@use 'assets/style/sass/util/breakpoints' as *;
@use 'assets/style/sass/util/util' as *;
@use 'assets/style/sass/util/variables' as c;

@forward 'assets/style/sass/components/home';
@forward 'assets/style/sass/components/sobremim';
@forward 'assets/style/sass/components/meusprojetos';
@forward 'assets/style/sass/components/contatos';


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    //border: 1px solid red !important;
}

b, p{
    color: c.$scnd-clr;
}

i{
    color: c.$txt-clr;
}

html{
    height: fit-content;
    background-color: c.$primary-clr !important;
}

body, button, input, optgroup, select, textarea {
    font-family: 'Source Sans Pro', sans-serif !important;
}

body{
    max-width:90vw;
    margin: 0 auto !important;
    text-align: center;
}

._title, h1, .scnd-title, h2, .texto, h3{
    text-align: center;
    margin: auto;
}

h1{
    @extend ._title; 
    font-weight: bold !important;
}
h2{
    @extend .scnd-title;
}
h3{
    @extend .texto; 
    font-size:17px;
}

.down-btn-container{
    @include center-grid();
    position: absolute;
    right: 30px;
    top: 90vh;
    .down-btn{
        path{
            fill: c.$scnd-clr;
        }
        height: 50px;
        position: relative;
        max-width: 50px;
        animation: bounce 1s alternate infinite;


        @keyframes bounce {
            from {
                transform: translatey(-10px);
            }
            to {
                transform: translatey(0);
            }
        }
    }
}

.navbar{
    background-color:unset!important;
    width: 100%;
    justify-content: end !important;
    align-items: stretch;
    display: flex;
}

#hamburguer-menu{
    height:100px;
    width:100px;
    @include center-flex();
    flex-direction: column;
    align-items:space-between;

    &:hover{
        background-color: c.$primary-clr;
    }
}

#dropdown-menu{
    transition-duration: 3s;
}

.dropdown-divider{
    background-color: c.$scnd-clr !important;
    margin: 0 !important;
}

.dropdown-content{
    background-color: c.$primary-clr !important;
    border: solid 1px c.$scnd-clr;
    padding: 0 !important;
    margin-right: 1rem;
}

.dropdown-item{
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    padding: .5rem 1rem !important;
    &:hover{
        background-color: lighten(c.$primary-clr, 2%) !important;
    }
}

.footer{
    background-color: transparent !important;
    @include center-grid();
    height: 10vh !important;
    padding: 0 !important;
}

.contact-container{
    @include center-flex();
    justify-content:space-around;
    .contact{
        &:hover{
            @include animation();
            background-color: c.$scnd-clr;
        }
        background-color: c.$bckgnd-clr;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        @include center-flex();
        
        &-icon{
            width: 30px;
            height: 30px;
        }
    }
}

// @include for-size(desktop-up);