@use '../util/util' as *;
@use '../util/texts' as *;
@use '../util/variables' as c;

.home{
  @include flex-page();
  
    .home-icon-container{
        width: 100%;
        @include center-flex();
        
        .home-icon{
            border-radius: 40%;
            position: relative;
            width: 250px;
            height: 250px;
        }
        .typing{
            display: none;
        }
    }
  
}