@use '../util/util' as *;
@use '../util/texts' as *;
@use '../util/variables' as c;

.meus-projetos{
    //background-color: c.$primary-clr;
    @include flex-page();
    justify-content:flex-start;
    
    h1{
        @extend ._title;
    }
    h2{
        font-weight: bold;   
    }
    h3, time{
        @extend .texto; 
    }
    
    .project-card{
        background-color: lighten(c.$bckgnd-clr, 10%);
        border-radius: 10px;
        box-shadow: 0 0 10px darken(c.$bckgnd-clr, 50%);
        @include center-grid();
        img{
            border-radius: 10px;
        }   
        h3{
            position: absolute;
        }

        
    }

    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    .cardcontent{
        background-color: c.$bckgnd-clr;
        z-index: 3;
        width: 100%;
        max-height: 35vh;
        border-radius: 0 0 10px 10px;
        @include center-flex();
        flex-direction: column;
        justify-content:space-between;
    }



    .divider{
        padding: 0;
        margin: 0;
        height:1px;
        background-color: c.$scnd-clr;
    }

    .saibamais{
        padding: 1vh;
    }
}
