@use '../util/util' as *;
@use '../util/texts' as *;
@use '../util/variables' as c;

.meus-projetos{
    //background-color: c.$primary-clr;
    @include flex-page();
    justify-content:flex-start;
    
    h1{
        @extend ._title;
    }
    h2{
        font-weight: bold;   
    }
    h3, time{
        @extend .texto; 
    }
    
    .project-card{
        border-radius: 10px;
        height: calc(100% - 5px);
        @include center-grid();

        .links{
            margin-top: 10px;
        }

        img{
            border-radius: 10px 10px 0 0;
            opacity: 0.7;
        }
        
        a{
            font-size: 2rem;
        }

        svg{
            fill: c.$txt-clr;
            height: 2rem;
            width: auto;
        }
        
        .cardcontent{
            padding: 50px;
            visibility: hidden;
            position: absolute;
            @include center-grid();
        }

        &:hover{
            box-shadow: 0 0 10px darken(c.$bckgnd-clr, 50%);
            .cardcontent{
                visibility:visible;
            }
            img{
                opacity: 0.1;
                transition-duration: .3s;
            }
        }

        &::after{
            content: "";
            border-radius: 0 0 10px 10px;
            position: relative;
            display: block;
            width: 100%;
            height: 5px;
            z-index: 3;
            background-color: c.$scnd-clr;
        }    
        
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-bottom: 10vh;
    }


    .divider{
        padding: 0;
        margin: 0;
        height:1px;
        background-color: c.$scnd-clr;
    }

    .saibamais{
        padding: 1vh;
    }
}
