@media (min-width: 1200px) {
  ._title, h1, .scnd-title, h2, .texto, h3 {
    text-align: left !important;
    margin: 0 !important;
  }

  ._title, h1 {
    font-size: 48px !important;
  }

  .scnd-title, h2 {
    font-size: 28px !important;
  }

  .texto, h3 {
    font-size: 24px !important;
  }

  body {
    max-width: 80vw !important;
  }

  .home {
    padding-top: 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
  }
  .home .txt-container {
    grid-area: 1/1/2/2;
    align-self: end;
  }
  .home .contact-container {
    justify-self: start !important;
    margin-top: 3vh;
    grid-area: 2/1/3/2;
    align-self: start;
  }
  .home .home-icon-container {
    margin-top: -3vh;
    margin-right: -2vw;
    align-self: center;
    justify-self: end !important;
    grid-area: 1/2/3/3;
  }
  .home .home-icon-container .home-icon {
    width: 500px !important;
    height: 500px !important;
  }

  .minhas-espc--container {
    grid-template-columns: 50px 50px 50px !important;
    margin-top: 3vh;
  }

  .divider {
    display: none;
  }

  .sobre-mim #sobre-mim-container {
    grid-template-columns: 2fr 1fr !important;
    grid-template-rows: 1fr 4fr;
    column-gap: 5vw;
  }
  .sobre-mim h1 {
    grid-area: 1/1/2/3;
  }
  .sobre-mim .ferramentas {
    place-items: start !important;
  }
  .sobre-mim .ferramentas--block {
    width: 6em;
    height: 6em;
  }
  .sobre-mim .ferramentas-container {
    margin-bottom: 6vh !important;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: 1fr 1fr !important;
  }
  .sobre-mim .ferramentas-container h1 {
    grid-area: 1/1/1/3;
  }
  .sobre-mim .sobre-mim-apresentacao {
    grid-area: 2/1/3/2;
  }
  .sobre-mim .cursos > a {
    grid-area: 1/2/2/3;
  }

  .meus-projetos .projetos-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr !important;
  }
  .meus-projetos .projetos-container > .projetos-block {
    max-height: 60vh;
  }
}
._title, .contatos .text-container > h1, .meus-projetos h1, .sobre-mim h1, .txt h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3vh;
  width: fit-content;
}
._title::after, .contatos .text-container > h1::after, .meus-projetos h1::after, .sobre-mim h1::after, .txt h1::after {
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  background-color: #be1ec7;
  animation: after 5s linear 1;
}
@keyframes after {
  from {
    transform: scalex(0.1);
    transform-origin: bottom left;
  }
  to {
    transform: scalex(1);
    transform-origin: bottom left;
  }
}

.scnd-title, .sobre-mim h2, .txt h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  font-size: 28px;
}

.texto, .contatos .text-container > h3, .meus-projetos h3, .meus-projetos time, .sobre-mim h3, .sobre-mim .ferramentas--block > h3, .txt h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #b99eb9;
  font-size: 16px;
}

.btn {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  border-radius: 100%;
}
.btn:hover {
  cursor: pointer;
}

.txt h2 {
  font-size: 24px;
}
.home {
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 20vh;
}
.home .home-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-icon-container .home-icon {
  border-radius: 40%;
  position: relative;
  width: 250px;
  height: 250px;
}
.home .home-icon-container .typing {
  display: none;
}

.sobre-mim {
  width: 100% !important;
  min-height: 100vh;
}
.sobre-mim h2 {
  font-weight: bold;
}
.sobre-mim h3 {
  font-size: 17px;
}
.sobre-mim .cursos > a {
  color: #ffffff;
  text-decoration: underline;
}
.sobre-mim-cards {
  margin: 8vh 0 8vh 0;
}
.sobre-mim #sobre-mim-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.sobre-mim .down-btn-container {
  margin-top: 0;
}
.sobre-mim .ferramentas-container {
  display: grid;
  max-width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.sobre-mim .ferramentas {
  display: grid;
  place-items: center;
}
.sobre-mim .ferramentas--block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  flex-direction: column;
  background-color: #2c002c;
  border-radius: 15%;
  z-index: 5;
  width: 5em;
  height: 5em;
}
.sobre-mim .ferramentas--block > h3 {
  color: transparent;
  position: absolute;
  font-size: 18px !important;
  margin-bottom: 5px;
}
.sobre-mim .ferramentas--block svg {
  width: 60px;
}
.sobre-mim .ferramentas--block:hover {
  background-color: #5f005f;
  transition-duration: 0.5s;
}
.sobre-mim .ferramentas--block:hover h3 {
  color: #ffffff;
  display: block;
  position: relative;
  transition-duration: 0.5s;
}
.sobre-mim .ferramentas--block:hover svg {
  width: 40px;
  transition-duration: 0.2s;
}
.sobre-mim .esp-icon {
  fill: white;
  margin-top: 5px;
}

.meus-projetos {
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.meus-projetos h2 {
  font-weight: bold;
}
.meus-projetos .project-card {
  background-color: #5f005f;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: grid;
  place-items: center;
}
.meus-projetos .project-card img {
  border-radius: 10px;
}
.meus-projetos .project-card h3 {
  position: absolute;
}
.meus-projetos .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.meus-projetos .cardcontent {
  background-color: #2c002c;
  z-index: 3;
  width: 100%;
  max-height: 35vh;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.meus-projetos .divider {
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #be1ec7;
}
.meus-projetos .saibamais {
  padding: 1vh;
}

.contatos {
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: fit-content !important;
}
.contatos .text-container {
  margin: 0 auto;
}
.contatos .text-container > h1 {
  color: #ffffff;
}
.contatos .gif {
  display: none;
  max-width: 90%;
  aspect-ratio: 1/1;
  user-select: none;
  margin: 4vh auto 5vh auto;
}
.contatos .form-container {
  background-color: #2c002c;
  border: solid 2px #be1ec7;
  border-radius: 50px;
  min-width: 300px;
  height: fit-content;
  padding-bottom: 4vh;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contatos .form-container > .text-container {
  margin: 0;
  height: 8vh;
  min-width: 100%;
  display: grid;
  place-items: center;
  border-radius: 48px 48px 0 0;
  border-bottom: 2px solid #d837e1;
}
.contatos .form-container > .text-container > h2 {
  color: #b99eb9;
  font-weight: bold;
  font-size: 20px;
}
.contatos .form-container > .form-field-container {
  padding-top: 2vh;
  max-width: 80%;
}
.contatos .form-container > .form-field-container > h2 {
  color: #ffffff;
  font-size: 20px;
}
.contatos .form-container > .form-field-container .input {
  border: 1px solid #be1ec7;
  word-break: break-word;
  color: #ffffff;
  min-width: 90%;
  width: 100%;
  background-color: #2c002c;
}
.contatos .form-container > .form-field-container .input:hover {
  border: 1px solid #f2bcf5;
}
.contatos .form-container > .form-field-container .input:last-child {
  height: 12vh;
  resize: none;
}
.contatos > .down-btn-container {
  height: 25px !important;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

b {
  color: #be1ec7;
}

html {
  height: fit-content;
  background-color: #160016 !important;
}

body, button, input, optgroup, select, textarea {
  font-family: "Source Sans Pro", sans-serif !important;
}

body {
  max-width: 90vw;
  margin: 0 auto !important;
  text-align: center;
}

._title, h1, .scnd-title, h2, .texto, h3 {
  text-align: center;
  margin: auto;
}

.down-btn-container {
  display: grid;
  place-items: center;
  position: absolute;
  right: 30px;
  top: 90vh;
}
.down-btn-container .down-btn {
  height: 50px;
  position: relative;
  max-width: 50px;
  animation: bounce 1s alternate infinite;
}
.down-btn-container .down-btn path {
  fill: #be1ec7;
}
@keyframes bounce {
  from {
    transform: translatey(-10px);
  }
  to {
    transform: translatey(0);
  }
}

.navbar {
  background-color: unset !important;
  width: 100%;
  justify-content: end !important;
  align-items: stretch;
  display: flex;
}

#hamburguer-menu {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
}
#hamburguer-menu:hover {
  background-color: #160016;
}

#dropdown-menu {
  transition-duration: 3s;
}

.dropdown-divider {
  background-color: #be1ec7 !important;
  margin: 0 !important;
}

.dropdown-content {
  background-color: #160016 !important;
  border: solid 1px #be1ec7;
  padding: 0 !important;
  margin-right: 1rem;
}

.dropdown-item {
  color: #fff !important;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem 1rem !important;
}
.dropdown-item:hover {
  background-color: #200020 !important;
}

.footer {
  background-color: transparent !important;
  display: grid;
  place-items: center;
  height: 10vh !important;
  padding: 0 !important;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.contact-container .contact {
  background-color: #2c002c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .contact:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform: translatey(-4px);
  background-color: #be1ec7;
}
.contact-container .contact-icon {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=main.css.map */
