@media (min-width: 1200px) {
  html {
    height: 500vh !important;
  }

  .home {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: start center;
  }
  .home .text-container {
    grid-area: 1/1/2/2;
  }
  .home .contact-container {
    margin-top: 0;
    grid-area: 2/1/3/2;
  }
  .home .home-icon-container {
    grid-area: 1/2/3/3;
  }
  .home .home-icon-container .home-icon {
    width: 500px !important;
    height: 500px !important;
  }
  .home .down-btn-container {
    grid-area: 3/1/4/3;
  }

  .text-container > h3 {
    font-size: 1.5rem !important;
  }

  .minhas-espc--container {
    grid-template-columns: 50px 50px 50px !important;
    margin-top: 3vh;
  }

  .divider {
    display: none;
  }

  .sobre-mim > .text-container {
    max-width: 60%;
  }
  .sobre-mim-container {
    max-width: auto;
    margin-top: 5vh;
    padding: 2vh;
    display: grid;
    column-gap: 1vh;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
  }
  .sobre-mim-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #be1ec7;
    border-radius: 0.5rem;
    padding: 2vh;
  }

  .meus-projetos {
    height: 100vh !important;
  }
  .meus-projetos .projetos-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr !important;
  }
  .meus-projetos .projetos-container > .projetos-block {
    max-height: 60vh;
  }

  .contatos {
    display: grid !important;
    place-items: start center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .contatos > .text-container {
    grid-area: 1/1/2/3;
  }
  .contatos > .gif {
    grid-area: 2/2/3/3;
    display: block !important;
  }
  .contatos > .form-container {
    grid-area: 2/1/4/2;
    margin: 0 auto;
  }
  .contatos > .form-container .input {
    min-width: 200px;
  }
  .contatos > .contact-container {
    grid-area: 3/2/4/3;
    margin: 0 auto;
  }
  .contatos > .down-btn-container {
    grid-area: 4/1/5/3;
  }
}
.texto, .text-container {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.title, .contatos .text-container > h1, .minhas-espc .text-container > h1, .text-container > h1, .scnd-title, .meus-projetos .text-container > h1, .sobre-mim .text-container > h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3vh;
}

.scnd-title, .meus-projetos .text-container > h1, .sobre-mim .text-container > h1 {
  color: #ffffff;
}

.text, .contatos .text-container > h3, .minhas-espc .text-container > h3, .text-container > h3, .text-container > h2, .scnd-text, .meus-projetos .text-container > h3, .meus-projetos .text-container time, .minhas-espc--block > h3, .sobre-mim .text-container > h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: regular;
}

.scnd-text, .meus-projetos .text-container > h3, .meus-projetos .text-container time, .minhas-espc--block > h3, .sobre-mim .text-container > h3 {
  color: #ffffff;
}

.btn {
  background-color: #160016;
  border: none;
  color: #FFFFFF;
  border-radius: 100%;
}
.btn:hover {
  cursor: pointer;
}

.text-container {
  max-width: 80%;
  margin-top: 5vh;
  text-align: center;
}
.text-container > h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 0 auto;
  background-color: #be1ec7;
  animation: after 5s alternate 1;
}
@keyframes after {
  from {
    transform: scalex(0.1);
    transform-origin: bottom left;
  }
  to {
    transform: scalex(1);
    transform-origin: bottom left;
  }
}
.text-container > h2 {
  font-size: 24px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7rem;
}
.home .home-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-icon-container .home-icon {
  border-radius: 40%;
  position: relative;
  width: 250px;
  height: 250px;
}
.home .home-icon-container .typing {
  display: none;
}

.sobre-mim {
  background-color: #160016;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7rem;
}
.sobre-mim hr {
  margin: 15px auto;
  width: 90%;
  background-color: #FFFFFF;
}
.sobre-mim .text-container {
  margin: 0 auto;
}
.sobre-mim .text-container > h2 {
  font-weight: bold;
}
.sobre-mim .text-container > h3 {
  margin-top: 1vh;
}
.sobre-mim .text-container .cursos > a {
  color: #ffffff;
  text-decoration: underline;
}
.sobre-mim .down-btn-container {
  margin-top: 0;
}

.minhas-espc {
  background-color: #0d000d;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7rem;
}
.minhas-espc .text-container {
  margin: auto 0;
}
.minhas-espc--container {
  display: grid;
  place-items: center;
  width: 50%;
  height: 60%;
  align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 50px 50px;
}
.minhas-espc--block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding-top: 1vh;
  padding-bottom: 1vh;
  flex-direction: column;
  background-color: #160016;
  border-radius: 15%;
  width: 6em;
  height: 6em;
}
.minhas-espc--block:hover {
  background-color: #490049;
  transition-duration: 0.5s;
}
.minhas-espc .esp-icon {
  margin-top: 5px;
  width: 50%;
}

.meus-projetos {
  background-color: #160016;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7rem;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 200vh;
}
.meus-projetos .text-container {
  margin: 0 auto;
  padding-bottom: 1vh;
  margin-top: 1vh;
  border-bottom: 1px solid #be1ec7;
}
.meus-projetos .text-container:first-child {
  border-bottom: none;
}
.meus-projetos .text-container > h2 {
  font-weight: bold;
}
.meus-projetos .text-container > p {
  color: #be1ec7;
}
.meus-projetos .projetos-container {
  display: grid;
  place-items: center;
  place-items: start center;
  margin-top: 2vh;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1;
  height: fit-content;
}
.meus-projetos .projetos-block {
  box-sizing: inherit;
  background-color: #0d000d;
  border: solid 1px #be1ec7;
  border-radius: 10px;
  margin-bottom: 2vh;
  max-width: 90%;
  height: 60vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.meus-projetos .cardcontent {
  background-color: #0d000d;
  z-index: 3;
  width: 100%;
  max-height: 35vh;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.meus-projetos .img-container {
  height: 20vh;
}
.meus-projetos .img-projeto {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.meus-projetos .divider {
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #be1ec7;
}
.meus-projetos .saibamais {
  padding: 1vh;
}

.contatos {
  background-color: #0d000d;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7rem;
  width: 100%;
}
.contatos .text-container {
  margin: 0 auto;
}
.contatos .text-container > h1 {
  color: #ffffff;
}
.contatos .gif {
  display: none;
  max-width: 90%;
  aspect-ratio: 1/1;
  user-select: none;
  margin: 4vh auto 5vh auto;
}
.contatos .form-container {
  background-color: #0d000d;
  border: solid 2px #be1ec7;
  border-radius: 50px;
  min-width: 300px;
  height: fit-content;
  padding-bottom: 4vh;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contatos .form-container > .text-container {
  margin: 0;
  height: 8vh;
  min-width: 100%;
  display: grid;
  place-items: center;
  background-color: #160016;
  border-radius: 48px 48px 0 0;
  border-bottom: 2px solid #d837e1;
}
.contatos .form-container > .text-container > h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.contatos .form-container > .form-field-container {
  padding-top: 2vh;
  max-width: 80%;
}
.contatos .form-container > .form-field-container > h2 {
  color: #ffffff;
  font-size: 20px;
}
.contatos .form-container > .form-field-container .input {
  border: 1px solid #160016;
  border: 1px solid #d837e1;
  word-break: break-word;
  color: #ffffff;
  min-width: 90%;
  width: 100%;
  background-color: #160016;
}
.contatos .form-container > .form-field-container .input:hover {
  border: 1px solid #fbe8fc;
}
.contatos .form-container > .form-field-container .input:last-child {
  height: 12vh;
  resize: none;
}
.contatos > .down-btn-container {
  height: 25px !important;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: fit-content;
  background: linear-gradient(326deg, #160016, #25002a, #26002f);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 26% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 26% 0%;
  }
}

body, button, input, optgroup, select, textarea {
  font-family: "Source Sans Pro", sans-serif !important;
}

.down-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 20vh;
  margin-top: 5vh;
  border-radius: 50px 50px 0 0;
}
.down-btn-container .down-btn {
  height: 90px;
  position: relative;
  max-width: 90px;
  animation: bounce 1s alternate infinite;
}
.down-btn-container .down-btn path {
  fill: #be1ec7;
}
@keyframes bounce {
  from {
    transform: translatey(-10px);
  }
  to {
    transform: translatey(0);
  }
}

.navbar-brand {
  background-color: #160016;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid black 3px;
}

.dropdown-divider {
  background-color: #be1ec7 !important;
  margin: 0 !important;
}

.dropdown-content {
  background-color: #160016 !important;
  border: solid 1px #be1ec7;
  padding: 0 !important;
  margin-right: 1rem;
}

.dropdown-item {
  color: #fff !important;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem 1rem !important;
}
.dropdown-item:hover {
  background-color: #200020 !important;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 5vh;
  justify-content: space-around;
}
.contact-container .contact {
  background-color: #160016;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .contact:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform: translatey(-4px);
  background-color: #7c007c;
}
.contact-container .contact-icon {
  width: 30px;
  height: 30px;
}

.themeButtons {
  background-color: #be1ec7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 3.6rem;
  height: 1.8rem;
  padding: 1px;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 10px;
  border-radius: 100px;
  box-shadow: 1px 1px 2px black;
}
.themeButtons #themeButtonDark {
  display: none;
}
.themeButtons #toggle {
  background-color: #160016;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 100px;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

/*# sourceMappingURL=main.css.map */
