@use '../util/util' as *;
@use '../util/variables' as c;

@mixin for-size($range) {
    $phone-upper-boundary: 500px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) {
          @content; 
        }
    } @else if $range == tablet-portrait-up {
        @media (min-width: $phone-upper-boundary) {
            @content; 
        }
    } @else if $range == tablet-landscape-up {
        @media (min-width: $tablet-portrait-upper-boundary) {
            @content;
        }
    } @else if $range == desktop-up {
        @media (min-width: $tablet-landscape-upper-boundary) { 
            @content;
        }
    } @else if $range == big-desktop-up {
        @media (min-width: $desktop-upper-boundary) {
            @content;
        }
    }
  }



@include for-size(phone-only){

}

@include for-size(tablet-portrait-up){

}

@include for-size(tablet-landscape-up){

}

@include for-size(desktop-up){
    body{
        max-width:70vw;
        margin: auto !important;
    }

    .home{
        display:grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        place-items: start center;
        .text-container{
            grid-area: 1 / 1 / 2 / 2;
        }
        .contact-container{
            margin-top: 0;
            grid-area: 2 / 1 / 3 / 2;
        }
        .home-icon-container{
            grid-area: 1 / 2 / 3 / 3;
            .home-icon{
                width: 500px !important;
                height: 500px !important;
            }
        }
        .down-btn-container{
            grid-area: 3 / 1 / 4 / 3;
        }
    }

    .text-container{
        &>h3{
            font-size:1.5rem !important;
        }
    }

    .minhas-espc--container{
        grid-template-columns: 50px 50px 50px !important;
        margin-top: 3vh;
    }
    .divider{
        display: none;
    }


    .sobre-mim{
        &>.text-container{
            max-width: 60%;
        }
        &-container{
            max-width: auto;
            margin-top: 5vh;
            padding: 2vh;
            display: grid;
            column-gap: 1vh;
            height:fit-content;
            grid-template-columns: 1fr 1fr;
        }
        &-block{
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            border: 1px solid c.$scnd-clr;
            border-radius: 0.5rem;
            padding:2vh;
        }

    }

    .meus-projetos{
        .projetos-container{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr !important;
            
            & > .projetos-block {
                //max-width:30% !important;
                max-height: 60vh;
            }
        }

    }

}

@include for-size(big-desktop-up){

}