@use '../util/util' as *;
@use '../util/variables' as c;


._title{
  color: c.$txt-clr;
  font-size:32px !important;
  font-weight: bold;
  margin-bottom: 3vh;
  width: fit-content;
  &::after{
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    background-color: c.$scnd-clr;
    animation: after 5s linear 1;

    @keyframes after {
        from {
            transform: scalex(.1);
            transform-origin:bottom left;
        }
        to {
            transform: scalex(1);
            transform-origin:bottom left;
        }
    }
}
}

.scnd-title{
  color: c.$txt-clr;
  font-size:24px;
  font-weight: bold;
  width: fit-content;
  font-size:28px;
}

.texto{
  font-family: 'Source Sans Pro', sans-serif;
  color: c.$scnd-txt-clr;
  font-size:16px;
}

.btn{
  background-color:transparent;
  border: none;
  color: c.$scnd-bckgnd-clr;
  border-radius: 100%;
  &:hover{
    cursor: pointer;
  }
}
  
.txt{
  h1{
    @extend ._title;
  }

  h2{
    @extend .scnd-title;
    font-size: 24px;
  }

  h3{
    @extend .texto;
  }
}