@use '../util/variables' as c;

@mixin center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-page{
    @include center-flex();
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 5rem;
}

@mixin center-grid{
    display: grid;
    place-items: center;
}

@mixin animation{
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transform: translatey(-4px);
}