@mixin center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-page{
    @include center-flex();
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 7rem;
}

@mixin center-grid{
    display: grid;
    place-items: center;
}

