// Cores dos textos
$title-txt-clr: #9F2E9D;
$scnd-title-txt-clr: #ffffff;
$normal-txt-clr: #4E5766;
$scnd-normal-txt-clr: #ffffff;

// Cores gerais
$primary-clr: #9F2E9D;
$scnd-clr: #4E5766;
$bckgnd-clr:#FFF5FF;
$scnd-bckgnd-clr:#FFFFFF;