$title-txt-clr: #ffffff;
$scnd-title-txt-clr: #ffffff;
$normal-txt-clr: #ffffff;
$scnd-normal-txt-clr: #ffffff;

// Cores gerais
$primary-clr: #160016;
$scnd-clr: #160016;
$thrd-clr: #be1ec7;
$bckgnd-clr:#0d000d;
$scnd-bckgnd-clr:#FFFFFF;

// $title-txt-clr: #ffff;
// $scnd-title-txt-clr: #ffffff;
// $normal-txt-clr: #ffffff;
// $scnd-normal-txt-clr: #ffffff;

// // Cores gerais
// $primary-clr: #652fa5;
// $scnd-clr: #464646;
// $thrd-clr: #0d0714;
// $bckgnd-clr:#0d0714;
// $scnd-bckgnd-clr:#FFFFFF;