* {
  margin: 0;
  padding: 0;
}

html {
  height: 600vh !important;
  background-color: #FFF5FF !important;
}

.texto, .text-container {
  color: #9F2E9D;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.title, .contatos .text-container > h1, .minhas-espc .text-container > h1, .text-container > h1, .scnd-title, .meus-projetos .text-container > h1, .sobre-mim .text-container > h1 {
  color: #9F2E9D;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3vh;
}

.scnd-title, .meus-projetos .text-container > h1, .sobre-mim .text-container > h1 {
  color: #ffffff;
}

.text, .contatos .text-container > h3, .minhas-espc .text-container > h3, .text-container > h3, .scnd-text, .meus-projetos .text-container > h3, .sobre-mim .text-container > h3 {
  color: #4E5766;
  font-size: 16px;
  font-weight: regular;
}

.scnd-text, .meus-projetos .text-container > h3, .sobre-mim .text-container > h3 {
  color: #ffffff;
}

.btn {
  background-color: #9F2E9D;
  border: none;
  color: #FFFFFF;
  border-radius: 100%;
}
.btn:hover {
  cursor: pointer;
}

.navbar-brand {
  background-color: #9F2E9D;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 5px 0px #9F2E9D;
  border-bottom: solid #dd89db 3px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.home-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon-container .home-icon {
  position: relative;
  padding-top: 15vh;
  max-width: 150px;
}

.text-container {
  max-width: 80%;
  margin-top: 5vh;
  text-align: center;
}
.text-container > h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 0 auto;
  background-color: #dd89db;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 5vh;
  justify-content: space-around;
}
.contact-container .contact {
  background-color: #4E5766;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-icon {
  width: 30px;
  height: 30px;
}

.down-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  background-color: #9F2E9D;
  width: 100%;
  height: 20vh;
  margin-top: 5vh;
  border-radius: 50px 50px 0 0;
}
.down-btn-container .down-btn {
  height: 150px;
  position: relative;
  max-width: 150px;
}
.down-btn-container .down-btn path {
  fill: #FFFFFF;
}

.sobre-mim {
  background-color: #9F2E9D;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}
.sobre-mim .text-container {
  margin: auto 0;
}
.sobre-mim .down-btn-container {
  background-color: #FFF5FF;
}
.sobre-mim .down-btn-container .down-btn path {
  fill: #9F2E9D;
}

.minhas-espc {
  background-color: #FFF5FF;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}
.minhas-espc .text-container {
  margin: auto 0;
}
.minhas-espc .down-btn-container {
  background-color: #9F2E9D;
}
.minhas-espc .down-btn-container .down-btn path {
  fill: #FFF5FF;
}

.meus-projetos {
  background-color: #9F2E9D;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  height: 200vh;
}
.meus-projetos .text-container {
  margin: auto 0;
}
.meus-projetos .down-btn-container {
  background-color: #FFF5FF;
}
.meus-projetos .down-btn-container .down-btn path {
  fill: #9F2E9D;
}

.contatos {
  background-color: #FFF5FF;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}
.contatos .text-container {
  margin: auto 0;
}
.contatos .down-btn-container {
  max-height: 5vh;
}
.contatos .down-btn-container > h3 {
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */