@use '../sass/util/breakpoints';
@use '../sass/util/util' as *;
@use '../sass/util/variables' as c;

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    height: 600vh !important;
    background-color: c.$bckgnd-clr !important;
}

.texto{
    color: c.$title-txt-clr;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;
}

.title{
    color: c.$title-txt-clr;
    font-size:32px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.scnd-title{
    color: c.$scnd-title-txt-clr;
    @extend .title;
}

.text{
    color: c.$normal-txt-clr;
    font-size:16px;
    font-weight: regular;
}

.scnd-text{
    color: c.$scnd-normal-txt-clr;
    @extend .text;
}

.btn{
    background-color: c.$primary-clr;
    border: none;
    color: c.$scnd-bckgnd-clr;
    border-radius: 100%;
    &:hover{
        cursor: pointer;
    }
}

.text-container{
    max-width: 80%;
    margin-top: 5vh;
    text-align: center;
    @extend .texto;
    
    & > h1{
        @extend .title;
        &::after{
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            margin: 0 auto;
            background-color: c.$thrd-clr;
            animation: after 5s alternate 1;
            


            @keyframes after {
                from {
                    transform: scalex(.1);
                    transform-origin:bottom left;
                }
                to {
                    transform: scalex(1);
                    transform-origin:bottom left;
                }
            }
        }
    }
    
    & > h2{
        @extend .text;
        font-size: 24px;
    }
    
    & > h3{
        @extend .text;
    }
}

.down-btn-container{
    @include center-flex();
    align-items:flex-start;
    // background-color: c.$primary-clr;
    width: 100%;
    height: 20vh;
    margin-top:5vh;
    border-radius: 50px 50px 0 0;
    .down-btn{
        path{
            fill: c.$thrd-clr;
        }
        height: 90px;
        position: relative;
        max-width: 90px;
        animation: bounce 1s alternate infinite;


        @keyframes bounce {
            from {
                transform: translatey(-10px);
            }
            to {
                transform: translatey(0);
            }
        }
    }
}

.navbar-brand{
    background-color: c.$primary-clr;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid darken(c.$primary-clr, 10%) 3px;
}

.dropdown-divider{
    background-color: c.$thrd-clr !important;
    margin: 0 !important;
}

.dropdown-content{
    background-color: c.$primary-clr !important;
    border: solid 1px c.$thrd-clr;
    padding: 0 !important;
    margin-right: 1rem;
}

.dropdown-item{
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    padding: .5rem 1rem !important;
    &:hover{
        background-color: lighten(c.$primary-clr, 2%) !important;
    }
}

.home{
    @include flex-page();
    
    .home-icon-container{
        width: 100%;
        @include center-flex();
        
        .home-icon{
            border-radius: 40%;
            position: relative;
            width: 250px;
            height: 250px;
        }
    }
    
}

.contact-container{
    @include center-flex();
    width: 60%;
    margin-top: 5vh;
    justify-content:space-around;
    .contact{
        &:hover{
            @include animation();

        }
        background-color: c.$scnd-clr;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        @include center-flex();
        
        &-icon{
            width: 30px;
            height: 30px;
        }
    }
}

.sobre-mim{
    background-color: c.$primary-clr;
    @include flex-page();
    
    hr{
        margin: 15px auto;
        width: 90%;
        background-color: c.$scnd-bckgnd-clr;
    }

    .text-container{
        margin: 0 auto;
        & > h1{
            @extend .scnd-title; 
        }
        & > h2{
            font-weight: bold;
        }
        & > h3{
            @extend .scnd-text; 
        }

        .cursos > a{
            color: c.$normal-txt-clr;
            text-decoration: underline;
            
        }
    }

    .down-btn-container{
        margin-top:0;
    }
}

.minhas-espc{
    background-color: c.$bckgnd-clr;
    @include flex-page();
    .text-container{
        margin: auto 0;
        & > h1{
           @extend .title; 
        }
        & > h3{
            @extend .text; 
         }
    }

    &--container{
        @include center-grid();
        width: 50%;
        height: 60%;
        align-items: flex-start;
        justify-content: space-between;
        grid-template-columns: 50px 50px;
        
    }

    &--block {
        & > h3{
            @extend .scnd-text;
        }
        @include center-flex();
        justify-content:flex-start;
        padding-top: 1vh;
        padding-bottom: 1vh;
        flex-direction: column;
        background-color: c.$scnd-clr;
        border-radius: 15%;
        width: 6em;
        height: 6em;
        &:hover{
            background-color: lighten(c.$scnd-clr, 10%);
            transition-duration: .5s;
        }
    }

    .esp-icon{
        margin-top: 5px;
        width: 50%;
    }

}

.meus-projetos{
    background-color: c.$primary-clr;
    @include flex-page();
    justify-content:flex-start;
    box-sizing: border-box;
    height:fit-content;
    //min-height: 200vh;

    .text-container{
        margin: 0 auto;
        margin-bottom: 1vh;
        margin-top: 1vh;
        & > h1{
           @extend .scnd-title;
        }
        & > h2{
            font-weight: bold;   
        }
        & > h3, time{
            @extend .scnd-text; 
            font-weight: bold;
        }

        & > p{
            color: c.$thrd-clr;
        }
    }

    .projetos-container{
        @include center-grid();
        place-items: start center;
        margin-top: 2vh;
        grid-template-rows: repeat(3, 1fr);
        gap: 1;
        height: fit-content;
    }

    .projetos-block{
        background-color: c.$bckgnd-clr;
        border: solid 1px c.$thrd-clr;
        border-radius: 10px;
        margin-bottom: 2vh;
        max-width:90%;
        height: 50vh;
        box-sizing: border-box;
        @include center-flex();
        justify-content:space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardcontent{
        background-color: c.$bckgnd-clr;
        z-index: 3;
        width: 100%;
        height: fit-content;
        border-radius: 0 0 10px 10px;

    }

    .img-container{
        height: 20vh;
    }

    .img-projeto{
        //!max-height: 20vh;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .divider{
        padding: 0;
        margin: 0;
        height:1px;
        background-color: c.$thrd-clr;
    }

    .saibamais{
        padding: 1vh;
    }
}


.contatos{
    background-color: c.$bckgnd-clr;
    @include flex-page();
    width: 100%;
    .text-container{
        margin: 0 auto;
        & > h1{
           @extend .title;
           color: c.$title-txt-clr;
        }
        & > h3{
            @extend .text; 
        }
    }
    
    .gif{
        display: none;
        width: 40px;
        height: 40px;
        user-select: none;
    }

    .form-container{
        background-color: c.$bckgnd-clr;
        border: solid 2px c.$thrd-clr;
        border-radius:50px;
        min-width: 250px;
        height: fit-content;
        padding-bottom: 4vh;
        width: 70vw;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        
        & > .text-container{
            margin: 0;
            height: 8vh;
            min-width: 100%;
            @include center-grid();
            background-color: c.$primary-clr; 
            border-radius:48px 48px 0 0;
            border-bottom: 2px solid lighten(c.$thrd-clr, 10%);

            & > h2{
                color: c.$scnd-normal-txt-clr;
                font-weight: bold;
                font-size: 20px;
            }

        }

        & > .form-field-container{
            padding-top: 2vh;
            max-width: 80%;
            
            & > h2{
                color: c.$normal-txt-clr;
                font-size: 20px;
            }

            .input{
                border: 1px solid c.$scnd-clr; 
                border: 1px solid lighten(c.$thrd-clr, 10%); 
                word-break: break-word;
                color: c.$normal-txt-clr;
                width:100%;
                
                &:hover{
                    border: 1px solid lighten(c.$thrd-clr, 50%);
                }
                background-color: c.$scnd-clr;

                &:last-child{
                    height: 12vh;
                    resize: none;
                }
            }
            
        }
    }
}