@use '../sass/util/breakpoints';
@use '../sass/util/util' as *;
@use '../sass/util/variables' as c;

@forward 'components/home';
@forward 'components/sobremim';
@forward 'components/minhasespc';
@forward 'components/meusprojetos';
@forward 'components/contatos';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    height: fit-content;
    background-color: c.$primary-clr !important;
    // background: linear-gradient(326deg, #160016, #210025, #1c0022);
    // background-size: 600% 600%;

    // animation: AnimationName 5s ease infinite;

    // @keyframes AnimationName {
    //     0%{background-position:26% 0%}
    //     50%{background-position:75% 100%}
    //     100%{background-position:26% 0%}
    // }
}

body, button, input, optgroup, select, textarea {
    font-family: 'Source Sans Pro', sans-serif !important;
}



.down-btn-container{
    @include center-flex();
    align-items:flex-start;
    width: 100%;
    height: 20vh;
    margin-top:5vh;
    border-radius: 50px 50px 0 0;
    .down-btn{
        path{
            fill: c.$scnd-clr;
        }
        height: 90px;
        position: relative;
        max-width: 90px;
        animation: bounce 1s alternate infinite;


        @keyframes bounce {
            from {
                transform: translatey(-10px);
            }
            to {
                transform: translatey(0);
            }
        }
    }
}

.navbar{
    background-color:unset!important;
    width: 100%;
    justify-content: end !important;
    align-items: stretch;
    display: flex;
}

#hamburguer-menu{
    height:100px;
    width:100px;
    @include center-flex();
    flex-direction: column;
    align-items:space-between;

    &:hover{
        background-color: c.$primary-clr;
    }
}

#dropdown-menu{
    transition-duration: 3s;
}

.dropdown-divider{
    background-color: c.$scnd-clr !important;
    margin: 0 !important;
}

.dropdown-content{
    background-color: c.$primary-clr !important;
    border: solid 1px c.$scnd-clr;
    padding: 0 !important;
    margin-right: 1rem;
}

.dropdown-item{
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    padding: .5rem 1rem !important;
    &:hover{
        background-color: lighten(c.$primary-clr, 2%) !important;
    }
}

.contact-container{
    @include center-flex();
    width: 60%;
    margin-top: 5vh;
    justify-content:space-around;
    .contact{
        &:hover{
            @include animation();
            background-color: c.$scnd-clr;
        }
        background-color: c.$bckgnd-clr;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        @include center-flex();
        
        &-icon{
            width: 30px;
            height: 30px;
        }
    }
}

// @include for-size(desktop-up);